html {
    filter: url(#turbulence);
}

body {
    background-image: url(seabed-01.jpg);
    background-size: cover;
}

#myCanvas {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}